textarea {
  min-height: 400px;
}

.emails {
  border-style: solid;
  border-width: thin;
  margin: -1px 0 0 -1px;
  cursor: pointer;
  padding: 2px 3px;
}

#emails_read {
  background-color: rgb(185, 185, 185);
}

#timestampdiv {
  position: relative;
  float: right;
  margin-right: 5px;
}

#subjectdiv {
  position: absolute;
  left: 26%;
}

#senderdiv {
  margin-left: 5px;
  font-weight: bold;
}

body {
  font-family: sans-serif;
}
